body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.img-container{
    text-align: center; 
    margin-top: 70px;    
}
.cecentered-image{
    width: 80%; 
    height: auto;
}
.invitation-text{
    margin-top: 50px;
    text-align: center;
    color: #c5b9bc;
    width: 50%;
}